<!-- About Section -->
<section id="about">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
										<h2 class="section-heading">About</h2>
					<h4 class="lead section-subheading text-muted">We’re a digital ad agency <br>that specializes in increasing brand awareness,
        	sales, and store visits <br> through highly targeted digital ad campaigns.
        	</h4>
				</div>
			</div>
			<div class="row text-center">
        	        <div class="col-md-4">
        	            <span class="fa-stack fa-4x">
        	                <i class="fa fa-circle fa-stack-2x text-primary"></i>
        	                <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
        	            </span>
        	            <h3 class="text-uppercase">Brand awareness</h3>
<!--        	            <p class="text-muted"><strong>Need help coming up with a winning ad strategy? <br> We can help.</strong></p>-->
        	        </div>
        	        <div class="col-md-4">
        	            <span class="fa-stack fa-4x">
        	                <i class="fa fa-circle fa-stack-2x text-primary"></i>
        	                <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
        	            </span>
        	            <h3 class="text-uppercase">Sales</h3>
<!--        	            <p class="text-muted"><strong>We're experts in running Google and Facebook ads so you don't have to be.</strong></p>-->
        	        </div>
        	        <div class="col-md-4">
        	            <span class="fa-stack fa-4x">
        	                <i class="fa fa-circle fa-stack-2x text-primary"></i>
        	                <i class="fa fa-cart-plus fa-stack-1x fa-inverse"></i>
        	            </span>
        	            <h3 class="text-uppercase">Store visits</h3>
<!--        	            <p class="text-muted"><strong>We've got a design team who can't wait to make your ads look great.</strong></p>-->
        	        </div>
        	    </div>
		</div>
	</div>
</section>
